body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100vh;
}

h1,h2,h3,h4,h5,h6{
    margin: 5px 0;
}

.wrapper > div{
    margin: 5px;
    padding: 5px;
    border: dashed 3px black;
    border-radius: 5px;
}

#info{
    overflow-y: scroll;
}

.info > div{
    border-radius: 5px;
    display: flex;
}

#searchBtn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(85, 163, 241);
}

#searchBox {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: rgb(85, 163, 241) solid 2px;
    color: black;
    margin: 0 5px 0 0;
}

.list-elem{
    border: solid 1px black;
    margin:10px 0 10px 0;
    border-radius: 3px;
}

.list-elem > .header{
    padding: 5px;
}
.list-elem > .content{
    padding: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 70% 30%;
}